*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 19%);
  --clr-accent: hsl(170, 82%, 48%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);

  /* line-height: 1.6; is generally a good value */
  line-height: 1.6;
}

/* Section titles with gradient animations */
.section__title--container {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.section__title--services::before {
  content: "";
  background: linear-gradient(to right, transparent, cyan 60%, magenta);
  display: block;
  width: 120px;
  height: 3px;
  transition: all 3s;
  opacity: 0.25;
}

.section__title--services:hover::before {
  content: "";
  background: linear-gradient(to right, transparent, cyan 60%, magenta);
  display: block;
  width: 120px;
  height: 3px;
  opacity: 1;
  margin-left: 100px;
}

.section__title--services::after {
  content: "";
  background: linear-gradient(to left, transparent, cyan 60%, magenta);
  display: block;
  width: 120px;
  height: 3px;
  transition: all 3s;
  opacity: 0.25;
}

.section__title--services:hover::after {
  content: "";
  background: linear-gradient(to left, transparent, cyan 60%, magenta);
  display: block;
  width: 120px;
  height: 3px;
  opacity: 1;
}
