*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
}

/* Section titles with gradient animations */
.section__title--container {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.section__title--services::before {
  content: "";
  background: linear-gradient(to right, purple, cyan);
  display: block;
  width: 120px;
  height: 4px;
  transition: all 2s;
  opacity: 0.5;
}

.section__title--services:hover::before {
  content: "";
  background: linear-gradient(to right, purple, cyan);
  display: block;
  width: 120px;
  height: 4px;
  opacity: 1;
  /* animation: slideright 3s ease; */
  animation-name: slideright;
  animation-duration: 3s;
  animation-timing-function: ease;

  /* animation-direction is not working, so maybe try transition without using @keyframes */
  animation-direction: alternate;
}

@keyframes slideright {
  from {
    width: 120px;
    margin: 0px;
  }
  to {
    width: 80px;
    margin: 0 0 0 100px;
  }
}

.section__title--services::after {
  content: "";
  background: linear-gradient(to left, purple, cyan);
  display: block;
  width: 120px;
  height: 4px;
  transition: all 2s;
  opacity: 0.5;
}

.section__title--services:hover::after {
  content: "";
  background: linear-gradient(to left, purple, cyan);
  display: block;
  width: 120px;
  height: 4px;
  opacity: 1;
  /* animation: slideleft 3s ease; */
  animation-name: slideleft;
  animation-duration: 3s;
  animation-timing-function: ease;

  /* animation-direction is not working, so maybe try transition without using @keyframes */
  animation-direction: alternate;
}

@keyframes slideleft {
  from {
    width: 120px;
    margin: 0px;
  }

  to {
    width: 80px;
    margin: 0 100px 0 0;
  }
}
